:root {
    --header: #ccd1e4;
}

.navbar {
    height: 5vh;
    background-color: var(--header);
}

.header-text {
    padding: 0.25rem 0 0 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

@media only screen and (max-width: 768px) {
    .header-text {
        font-size: 20px;
        padding: 0.5rem;
        text-align: center;
    }
}
