@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-wrapper {
    max-width: 100vw;
}

.main-wrapper {
    /* width: 100vw; */
    min-height: 93vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'inputs preview';
    font-family: 'Roboto', sans-serif;
}

.inputs {
    background-color: rgb(226, 200, 152);
    grid-area: inputs;
}

.personal-information-input {
    background-color: beige;
    margin: 1rem;
    min-height: 45vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr) 3fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

.experience-input,
.education-input {
    background-color: beige;
    margin: 1rem;
    /*  min-height: 45vh; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.addSection,
.removeSection {
    height: 2rem;
    width: 100%;
    background-color: rgb(255, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.options-input {
    background-color: beige;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.sample-button {
    height: 2rem;
    width: 100%;
    background-color: rgb(0, 153, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.preview {
    background-color: rgb(226, 182, 152);
    grid-area: preview;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem repeat(9, 1fr);
    grid-template-areas:
        'up up up up'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person';
}

.personal-information-preview-top {
    /*  height: 10vh; */
    background-color: salmon;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    grid-area: up;
}

.work-preview,
.education-preview {
    display: flex;
    flex-direction: column;
    /*  min-height: 100%; */
}

.info-preview {
    grid-area: cont;
    background-color: rgb(199, 45, 45);
    padding: 1rem;
    overflow: auto;
}

.info-wrapper-preview {
}

.info-wrapper-preview > h4,
.info-wrapper-preview > h5 {
    margin-bottom: 0.5rem;
}

.personal-information-preview-side {
    background-color: rgb(114, 173, 250);
    grid-area: person;
    padding: 1rem;
    /*   max-width: 15vw; */
}
.picture > img {
    height: 10rem;
    width: auto;
}

.experience-wrapper,
.education-wrapper {
    margin-bottom: 1rem;
}

.experience-wrapper > h5,
.education-wrapper > h5 {
    margin-bottom: 0.5rem;
}

.custom-file-upload-label {
    background-color: aqua;
    width: 30%;
    height: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-file-upload {
    border: 1px solid #ccc;
    /* display: inline-block; */
    padding: 6px 12px;
}

input[type='file'] {
    display: none;
}

.hidden {
    display: none;
}
