@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --name: #264e70;
    --preview: #f1f3f8;
    --preview-side: #d6e0f0;
    --inputs: #fafafa;
    --card-back: #f1f3f8;
    --card: #ccd1e4;
    --changePicBtn: #2e4c6d;
    --addSectionBtn: #2e4c6d;
    --removeSectionBtn: #b33030;
    --addSkillBtn: #2e4c6d;
    --loadSampleBtn: #8236cb;
    --resetDataBtn: #e45826;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.app-wrapper {
    background-color: var(--card);
}

.main-wrapper {
    max-width: 100vw;
    padding-right: 1rem;
}

.main-wrapper {
    min-height: 93vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'inputs preview';
    font-family: 'Lato', sans-serif;
}

.inputs {
    background-color: var(--card-back);
    grid-area: inputs;
}

.personal-information-input {
    background-color: var(--card);
    min-height: 45vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr) 3fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

.input-section-title {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}

.personal-information-input > input,
.experience-input > input,
.education-input > input,
.skills-input > input {
    height: 2rem;
    font-size: 1rem;
    background-color: var(--inputs);
    border: none;
    padding: 0 0.5rem;
}
.personal-information-input > textarea {
    background-color: var(--inputs);
    font-size: 1rem;
}

.experience-input,
.education-input {
    background-color: var(--card);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.addSection {
    height: 2.5rem;
    width: 100%;
    background-color: var(--addSectionBtn);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.removeSection {
    height: 2.5rem;
    width: 100%;
    background-color: var(--removeSectionBtn);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.skills-input {
    background-color: var(--card);
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
}

.add-skill-button {
    height: 2.5rem;
    width: 100%;
    background-color: var(--addSkillBtn);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.options-input {
    background-color: var(--card);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.sample-button {
    height: 2rem;
    width: 100%;
    background-color: var(--loadSampleBtn);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reset-button {
    height: 2rem;
    width: 100%;
    background-color: var(--resetDataBtn);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.preview {
    grid-area: preview;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem repeat(9, 10rem);
    /*  grid-template-areas:
        'up up up up'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'
        'cont cont cont person'; */
    min-height: fit-content;
    background-color: var(--card);
}

.personal-information-preview-top {
    background-color: var(--name);
    color: var(--preview);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    grid-area: up;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.info-preview {
    grid-area: cont;
    background-color: var(--preview);
    padding: 2rem;
    overflow: visible;
    grid-column: 1/4;
    grid-row: 2/-1;
}

.info-preview > h5 {
    font-size: large;
    margin-bottom: 1rem;
}

.info-preview > div > div > h4 {
    font-size: larger;
    margin-bottom: 0.5rem;
    border-bottom: solid 2px black;
}

.personal-information-preview-side {
    background-color: var(--preview-side);
    grid-area: person;
    padding: 1rem;
    grid-column: 4/-1;
    grid-row: 2/-1;
}
.picture > img {
    height: auto;
    width: 100%;
}

.personal-preview {
    margin-bottom: 3rem;
}

.personal-preview-title {
    font-size: x-large;
    font-style: oblique;
    text-align: center;
}

.personal-preview > h5 {
    margin-bottom: 0.5rem;
    font-size: large;
}

.experience-wrapper,
.education-wrapper,
.skills-wrapper {
    margin-bottom: 1.5rem;
}

.experience-wrapper > h5,
.education-wrapper > h5 {
    margin-bottom: 0.5rem;
    font-size: large;
}

.experience-preview,
.education-preview {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1.5rem;
}

.fromto-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 3rem 2fr;
}

.fromto-wrapper > div:nth-child(4),
.fromto-wrapper > div:nth-child(6) {
    font-size: 20px;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.item-wrapper > h5 {
    margin-bottom: 0.5rem;
}

.custom-file-upload-label {
    background-color: var(--changePicBtn);
    color: whitesmoke;
    width: 35%;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-file-upload {
    border: 1px solid #ccc;
    padding: 6px 12px;
}

input[type='file'] {
    display: none;
}

.hidden {
    display: none;
}

.print {
    position: fixed;
    width: 5rem;
    height: 5rem;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--name);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.print:hover {
    transition: all 0.5s;
    transform: scale(1.3);
}

.print > img {
    width: 2.5rem;
}

@media only screen and (max-width: 768px) {
    .main-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .preview {
        display: flex;
        flex-direction: column;
    }

    .print {
        width: 4rem;
        height: 4rem;
    }

    .print > img {
        width: 2rem;
    }
}
